:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {

  text-decoration: inherit;
}

body {
  margin: 25px;
}

h1 {
  margin: 0;
  font-size: 72px;
  margin-right: 10px;
}

h2 {
  font-size: 72px;
  margin-right: 10px;
}

.year__grid {
  font-size: 24px;
}

p {
  margin: 10px;
}